<br><br><br><br><br>
<div *ngIf="livraisons.length==0" style="display: flex; justify-items: center;justify-content: center;">
  <div id="feragh"  style="display: flex; justify-content: space-around; margin: 140px 20px;">
    <img src="assets/images/nodata.jpg"  style="max-height: 200px;"/>
    <h1 style="color: rgb(165, 159, 159);align-items: center;margin-top: 100px;">Pas de livarisons</h1>
  </div></div>
<section *ngFor="let l of livraisons ">
<div class="card">
    <div class="content">
      <!-- Contenu de la carte (80% de la largeur) -->
      <h2>From {{l.ObjectAdresse}}  To {{l.costumeradresse}}</h2>
      <div class="details">
        <h5>BuyerName:  <span>{{l.ObjectUsername}}</span></h5>
        <h5>BuyerNumber:  <span>{{l.ObjectPhone}}</span></h5>
        <h5>CostumerName:  <span>{{l.costumername}}</span></h5>
        <h5>CostumerPhone:  <span>{{l.costumerphone}} </span></h5>
      </div>
      
    </div>
      <!-- Bouton d'acceptation -->
      <button class="button accept" (click)="acceptAction(l._id)"><fa-icon [icon]="icons.check" ></fa-icon></button>
  </div>
</section>
<br><br><br><br><br>