<!-- edit-produit.component.html -->
<section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <br /><br /><br />
        <h2>
            Modifier Produit
        </h2>
      </div>
      <div class="">
        <div class="">
          <div class="row">
            <div class="col-md-9 mx-auto">
              <div class="contact-form">
                <form [formGroup]="productForm" enctype="multipart/form-data" (ngSubmit)="editProduit()">
  
                    <div>
                        <br>
                        <main>
                          <section class="article">
                              <h2>Article de face</h2>
                              <div class="form-group">
                                  <img src="assets/images/11.png" alt="Photo 1"
                                          style="cursor: pointer;">
                                      <input id="image" type="file" formControlName="image1"
                                          #filePicker
                                              (change)="onImageSelected($event)" multiple/>
                                  
                                              <div id="validImage" *ngIf="productForm.controls['image1'].invalid && ( productForm.controls['image1'].dirty || productForm.controls['image1'].touched)"></div>
                                                <div *ngIf="productForm.controls['image1'].errors?.['required'] "style="color: red">Image is required.</div>
                              </div>
                          </section>

                     <!----    <section class="article">
                              <h2>Arrière de l'article</h2>
                              <form class="form-group">
                                  <a href=""><img src="assets/images/11.png" alt="Photo 1"
                                          style="cursor: pointer;">
                                      <input type="file" [(ngModel)]="produit.image2" name="image2"
                                          #image2="ngModel" required />
                                  </a>
                                  <div *ngIf="image2.invalid && (image2.dirty || image2.touched)">
                                      <div *ngIf="image2.errors?.['required']">Image 2 is required.</div>
                                  </div>
                              </form>
                          </section>-->
                      </main>
                    </div>
  
                  <div class="form-group">
                    <input id="nom" type="text" placeholder="Nom Produit" [(ngModel)]="produit.name" class="form-control" formControlName="nom" />
                    <div id="vaidNom" class="text-danger" *ngIf="productForm.controls['nom'].touched">
                      <div *ngIf="productForm.controls['nom'].errors?.['required']">Champs obligatoire</div>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <textarea id="description" _ngcontent-serverapp-c40="" formControlName="description" [(ngModel)]="produit.description"  
                        class="form-control"  id="description" name="description" placeholder="Description"
                        rows="5" maxlength="300" required=""
                        class="form-control ng-untouched ng-pristine ng-invalid"
                        style="width: 920px; height: 105px;"></textarea>
                       <div id="validDescription" class="text-danger" *ngIf="productForm.controls['description'].touched">
                            <div *ngIf="productForm.controls['description'].errors?.['required']"> Champs obligatoire</div>
                        
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" placeholder="Prix" formControlName="prix" [(ngModel)]="produit.price"  
                            class="form-control" id="prix">
                          <div id="validPrice" class="text-danger" *ngIf="productForm.controls['prix'].touched">
                                <div *ngIf="productForm.controls['prix'].errors?.['required']"> Champs obligatoire</div>
                            
                            </div>
                    </div>
                    <div>
                        <input id="adresse" type="text" placeholder="Addresse" [(ngModel)]="produit.adresse"  formControlName="adresse"
                            class="form-control" id="adresse">
                            <div id="validAdresse" class="text-danger" *ngIf="productForm.controls['adresse'].touched">
                                <div *ngIf="productForm.controls['adresse'].errors?.['required']"> Champs obligatoire</div>
                            
                            </div>
                    </div>
  
                  <div class="d-flex justify-content-center">
                    <button id="button" type="submit" class="btn_on-hover" [disabled]="(productForm.controls['nom'].errors)||(productForm.controls['adresse'].errors)||(productForm.controls['prix'].errors)||(productForm.controls['image1'].errors)||(productForm.controls['description'].errors)">Enregistrer les modifications</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  