<!--<div class="navbar">
    <span class="logo">
        Lama App
     
    </span>
      <ul class="list">
        <li class="listItem" *ngIf="user">
          <img
            [src]="user.user.photos[0].value"
            alt=""
            class="avatar"
          />
        </li>
        <li *ngIf="!user"  class="listItem">
          login
        </li>
        <li *ngIf="user" class="listItem" >
          Logout
        </li>
      </ul>
  </div>-->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <img src="assets/images/Logo.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" id="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" [ngClass]="{ 'lg_nav-toggle': isMenuOpen }" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" *ngIf="!connectedUser" routerLink="" routerLinkActive="active"> Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="shop.html">Shop </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="furniture.html"> Furniture </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact us</a>
              </li>
            </ul>
            <div class="user_option">
              <a href="">
                <img src="/assets/images/user.png" alt="">
                <span>
                  Login
                </span>
              </a>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
            <div class="user">
              <button type="submit" *ngIf="connectedUser">Logout</button>
            </div>
          </div>
          <div>
            <div class="custom_menu-btn" id="#custom_menu-btn">
              <button (click)="toggleMenu()">
                <span class="s-1"></span>
                <span class="s-2"></span>
                <span class="s-3"></span>
              </button>
            </div>
          </div>

        </nav>
      </div>
    </header>
    