<!---
    <div class="search-popup">
        <div class="search-popup-container">

          <form role="search" method="get" class="search-form" action="">
            <input type="search" id="search-form" class="search-field" placeholder="Type and press enter" value="" name="s" />
            <button type="submit" class="search-submit"><svg class="search"><use xlink:href="#search"></use></svg></button>
          </form>

          <h5 class="cat-list-title">Browse Categories</h5>
          
          <ul class="cat-list">
            <li class="cat-list-item">
              <a href="#" title="Mobile Phones">Mobile Phones</a>
            </li>
            <li class="cat-list-item">
              <a href="#" title="Smart Watches">Smart Watches</a>
            </li>
            <li class="cat-list-item">
              <a href="#" title="Headphones">Headphones</a>
            </li>
            <li class="cat-list-item">
              <a href="#" title="Accessories">Accessories</a>
            </li>
            <li class="cat-list-item">
              <a href="#" title="Monitors">Monitors</a>
            </li>
            <li class="cat-list-item">
              <a href="#" title="Speakers">Speakers</a>
            </li>
            <li class="cat-list-item">
              <a href="#" title="Memory Cards">Memory Cards</a>
            </li>
          </ul>

        </div>
    </div>
      -->
    <header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
      <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="assets/images/logo.png" class="logo">
          </a>
          <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <fa-icon [icon]="fa.nav" ></fa-icon>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
            <div class="offcanvas-header px-4 pb-0">
              <a class="navbar-brand" href="index.html">
                <img src="assets/images/main-logo.png" class="logo">
              </a>
              <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body">
              <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                <ul class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                <li class="nav-item" >
                  <a class="nav-link me-4 active" [routerLinkActiveOptions]="{exact:true}" routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item" *ngIf="connectedUser.role=='livreur'">
                  <a class="nav-link me-4" routerLink="/dash-liv">Livraisons</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" routerLink="/cards">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="#smart-watches">Watches</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="#yearly-sale">Sale</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link me-4" href="#latest-blog">Blog</a>
                </li>
                <li class="nav-item dropdown" *ngIf="connectedUser.role=='user'">
                  <a class="nav-link me-4 dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">My products</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a routerLink="/list" class="dropdown-item">My List</a>
                    </li>
                    <li>
                      <a routerLink="/add-produit" class="dropdown-item">Add product</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item" *ngIf="!(connectedUser.role=='admin')" >
                  <a routerLink="/profile">
                  <div class="user-items ps-5">
                    <div class="profile">
                      <img src="assets/images/user.jpg" />
                      <div class="before">{{connectedUser.name}}</div>
                      <div class="after"> voir Profile</div>
                    </div>
                  </div>
                </a>
                </li>
              </ul>
                <li class="nav-item">
                  <div class="user-items ps-5">
                    <ul class="d-flex justify-content-end list-unstyled">
                     <!--- <li class="search-item pe-3">
                        <a href="#" class="search-button">
                          <svg class="search">
                            <use xlink:href="#search"></use>
                          </svg>
                        </a>
                      </li> --> <li class="pe-3" id="panier" *ngIf="!(connectedUser.role=='livreur')">
                        <a routerLink="panier" class="cart-icon-container">
                          <span class="badge">{{count}}</span> <!-- Replace '3' with the actual item count -->
                          <fa-icon [icon]="fa.panier" ></fa-icon>
                        </a>
                      </li>
                      <li class="pe-3">
                        <a type="submit" routerLink="/auth" (click)="logout()" *ngIf="connectedUser.name">
                          <fa-icon [icon]="fa.out" ></fa-icon>
                        </a>
                      </li>
                      <li class="pe-3">
                        <a routerLink="/auth" *ngIf="!connectedUser.name">
                          <fa-icon [icon]="fa.in" ></fa-icon>
                        </a>
                      </li>
                     
                      
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>