.profile{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 /* border: solid;
  border-radius: 50%;
  background-color: coral;*/
  padding: 3px;
  margin-left: 2px;
  min-width: 200px;
  min-height: 40px;
  border-radius: 20px;
  transition: 0.6s;
}
.profile:hover{
  background-color: var(--primary-color);
  cursor: pointer;
}
.profile:hover .after {
  display: block;
}
.profile:hover .before {
  display: none;
}
.profile:hover img {
  display: none;
}
.profile img{
  border-radius: 50%;
  height: 20%;
  width: 20%;
}
.profile div{
justify-content: center;
padding: 3px;
}
.after{
display: none;}
.cart-icon-container {
    position: relative;
    display: inline-block;
  }
  
  .badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red; /* Choose your preferred background color */
    color: white;
    border-radius: 50%;
    padding: 1px 1px;
    font-size: 11px;
  }
  #header{
    z-index: 1000;
  }

  