<br><br><br><br>
<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
            <p class="mb-0">
              <span class="text-muted">Sort by:</span>
              <select class="select" [(ngModel)]="selectedOption" (change)="onOptionChange()">
                <option selected value="0">mes articles</option>
                <option value="1">articles vendus</option>
                <option value="2">articles en cours</option>
              </select>
            </p>
          </div>
        </div>
        <div  class="card rounded-3 mb-4" *ngFor="let o of filteredObjets.slice(paginator.pageIndex * paginator.pageSize, (paginator.pageIndex + 1) * paginator.pageSize)">
          <div class="card-body p-4" id="item">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img src="{{o.image}}" class="img-fluid rounded-3" alt="Product Image">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">
                  <span class="text-muted">Nom de l'article: </span>{{o.name}}
                </p>
                <p id="price"><span class="text-muted">Prix: </span>{{o.price}} dt</p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <button (click)="editProduit(o._id)" id="edit"
                style="border:none; background-color: white; color: green;" > Modifier
                  <i class="fa fa-pencil" style="font-size:30px;color:rgb(24, 130, 24)"></i>
                </button>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <button (click)="deleteProduit(o._id)"
                 class="text-danger" style="border:none; background-color: white; color: red;">
                  Supprimer <i class="fa fa-trash" style="font-size:30px;color:red;"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator  #paginator 
        class="demo-paginator" [length]="totalItems" [pageSize]="pageSize" 
        [disabled]="false"
        [showFirstLastButtons]="true"
        aria-label="Select page"
        (page)="handlePageEvent($event)"></mat-paginator>
    <!----   <div  class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img src="assets/images/11.png" class="img-fluid rounded-3" alt="Product Image">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">
                    <span class="text-muted">Nom de l'article: </span>aa
                  </p>
                  <p><span class="text-muted">Prix: </span>110dt</p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <button style="border:none; background-color: white; color: green;" > Modifier
                    <i class="fa fa-pencil" style="font-size:30px;color:rgb(24, 130, 24)"></i>
                  </button>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <button class="text-danger" style="border:none; background-color: white; color: red;">
                    Supprimer <i class="fa fa-trash" style="font-size:30px;color:red;"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div  class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img src="assets/images/11.png" class="img-fluid rounded-3" alt="Product Image">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">
                    <span class="text-muted">Nom de l'article: </span>aa
                  </p>
                  <p><span class="text-muted">Prix: </span>110dt</p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <button style="border:none; background-color: white; color: green;" > Modifier
                    <i class="fa fa-pencil" style="font-size:30px;color:rgb(24, 130, 24)"></i>
                  </button>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <button class="text-danger" style="border:none; background-color: white; color: red;">
                    Supprimer <i class="fa fa-trash" style="font-size:30px;color:red;"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div  class="card rounded-3 mb-4">
            <div class="card-body p-4">
              <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img src="assets/images/11.png" class="img-fluid rounded-3" alt="Product Image">
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p class="lead fw-normal mb-2">
                    <span class="text-muted">Nom de l'article: </span>aa
                  </p>
                  <p><span class="text-muted">Prix: </span>110dt</p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                  <button style="border:none; background-color: white; color: green;" > Modifier
                    <i class="fa fa-pencil" style="font-size:30px;color:rgb(24, 130, 24)"></i>
                  </button>
                </div>
                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                  <button class="text-danger" style="border:none; background-color: white; color: red;">
                    Supprimer <i class="fa fa-trash" style="font-size:30px;color:red;"></i>
                  </button>
                </div>
              </div>
            </div>
          </div> -->
      </div>
      
    </div>
    
  </div>
</section>
